.box {
  width: 90%;
  height: 100vh;
  position: relative;
  left: 4%;
  top: 20vh;
  margin: 0 0 10vh 0;
}

.textField {
  width: 30%;
}

.tableContainer {
  margin-top: 2.6%;
}

.buttonEdit {
  float: right;
}

.buttonDelete {
  float: right;
}
.DialogContent {
  margin-bottom: 5%;
}
